#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        altecp {
            bindings = <&kp LA(TAB)>;
            key-positions = <41 0>;
        };

        delete {
            bindings = <&kp DEL>;
            key-positions = <52 56>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                                    &kp N6     &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &kp T                                     &kp Y      &kp U     &kp I      &kp O    &kp P     &kp LBKT
&kp LSHFT  &kp A   &kp S   &kp D     &kp F      &kp G                                     &kp H      &kp J     &kp K      &kp L    &kp SEMI  &kp APOS
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V      &mt LEFT_ALT B  &none        &to 4        &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                           &kp LGUI  &kp LCTRL  &kp LSHFT       &kp SPACE    &lt 1 ENTER  &lt 2 TAB  &kp BSPC  &kp RALT
            >;
        };

        upper {
            bindings = <
&kp ESC        &kp N1    &kp N2   &kp N3           &kp N4   &kp N5                         &kp N6    &kp N7     &kp N8     &kp N9    &kp N0     &kp GRAVE
&kp PAGE_DOWN  &kp HOME  &kp INS  &kp PRINTSCREEN  &kp END  &kp PAGE_UP                    &kp Y     &kp U      &kp I      &kp O     &kp P      &kp MINUS
&kp F1         &kp F2    &kp F3   &kp F4           &kp F5   &kp F6                         &kp H     &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &kp SQT
&kp F7         &kp F8    &kp F9   &kp F10          &kp F11  &kp F12      &trans    &trans  &kp PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                                  &trans           &trans   &trans       &trans    &trans  &trans    &trans     &to 3
            >;
        };

        lower {
            bindings = <
&trans     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                         &trans  &trans     &trans     &trans        &trans        &bt BT_CLR
&trans     &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4                        &trans  &trans     &trans     &trans        &bootloader   &bt BT_CLR_ALL
&kp GRAVE  &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                               &kp N6  &kp N7     &kp N8     &kp N9        &kp N0        &kp LS(TILDE)
&kp LCTRL  &kp Z          &kp X          &kp C          &kp V          &kp B          &kp N5       &kp N6   &kp N   &kp MINUS  &kp EQUAL  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)
                                         &kp BSLH       &kp LCTRL      &kp LSHFT      &kp SPACE    &kp RET  &trans  &kp BSPC   &trans
            >;
        };

        ff14 {
            bindings = <
&kp ESC  &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                           &kp N6   &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp N1   &kp Q   &kp W   &kp E     &kp R      &kp T                            &kp Y    &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp N2   &kp A   &kp S   &kp D     &kp F      &kp G                            &kp H    &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp N3   &kp Z   &kp X   &kp C     &kp V      &kp B      &to 0        &trans   &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                         &kp LGUI  &kp LCTRL  &kp LSHFT  &kp SPACE    &kp RET  &kp TAB  &kp BSPC  &kp RALT
            >;
        };

        colemak {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                            &trans  &trans  &trans     &trans   &trans    &trans
&trans  &kp Q   &kp W   &kp F   &kp P   &kp B                             &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &trans
&trans  &kp A   &kp R   &kp S   &kp T   &kp G                             &kp M   &kp N   &kp E      &kp I    &kp O     &trans
&trans  &kp Z   &kp X   &kp C   &kp D   &mt LEFT_ALT V  &to 0     &to 0   &kp K   &kp H   &kp COMMA  &kp DOT  &kp FSLH  &trans
                        &trans  &trans  &trans          &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
